<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557494169391-sei53isu8f7std4p6m4en3pmmj1ahahh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557494169391-sei53isu8f7std4p6m4en3pmmj1ahahh</string>
	<key>API_KEY</key>
	<string>AIzaSyAY6_HYbZQJe4Sb0_Xgq1wNqidkMPyCi_I</string>
	<key>GCM_SENDER_ID</key>
	<string>557494169391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.upload</string>
	<key>PROJECT_ID</key>
	<string>upload-474c2</string>
	<key>STORAGE_BUCKET</key>
	<string>upload-474c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557494169391:ios:4f18acbb520268d0173bda</string>
</dict>
</plist>